body{background-color: black}
a {
  text-decoration: none;
  color: white;
}
  a:hover{
    color: #b83e44;
    transition: 1s;
  }
.RED7icon{
  text-align: center;
}
.navbar{
			background: black; font-family: verdana; padding-right: 15px;padding-left: 15px; padding-top: 15px; padding-bottom: 15px;
		}
		.navdiv{
			display: inline-flex; text-align: center; justify-content: space-between; padding: 10px;
		}
.navdiv-item{
  padding: 20px;
}
		.logo a{
			font-size: 35px; font-weight: 600; color: white;
		}
		li{
			list-style: none; display: inline-block;
		}
		li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}
.spotlight{
  font-size: 35px; margin-right: 500px; margin-top: 100px; font-weight: bold; margin-left: 200px; display: block;
}
.releases{
  font-size: 35px; margin-right: 500px; margin-top: 0px; font-weight: bold;
}
		button{
			background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
		}
		button a{
			color: white; font-weight: bold; font-size: 15px;
		}
.LatestReleases{
padding: 30px;
}
.Entries{
display: inline; padding-left: 50px
}
p{color: white}
p{font-family: verdana, sans-serif}
li.BlueHazeComicText{
  color: white; font-family: verdana; margin: 5px; font-weight: bold; padding-left: 90px;
}
li.TomahawkComicText{
  color: white; font-family: verdana; margin: 5px; font-weight: bold; padding-left: 60px;
}
li.SeraphQueenComicText{
  color: white; font-family: verdana; margin: 5px; font-weight: bold; padding-left: 30px;
}
.footer{
			background: black; font-family: verdana; padding-right: 15px;padding-left: 15px;
		}
		.footerContainer{
			display: flex; align-items: center; justify-content: space-between; font-family: verdana;
		}
		.logo a{
			font-size: 35px; font-weight: 600; color: white;
		}
		li{
			list-style: none; display: inline-block;
		}
		li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}
		button{
			background-color: #b83e44; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px; border-color: white;
		}
		button a{
			color: white; font-weight: bold; font-size: 15px;
		}
.AppLogo a{
  font-size: 35px; margin-right: 200px; padding-top: 0px; font-weight: bold;
}
.AppButton{
  margin-right: 360px; width: 130px; height: 110px; background-color: white; padding-top: 20px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #b83e44;
    transition: 1s;
}
.socialIcons a:hover i{
    color: red;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
